conversation(display_name="Cedric")
  case lastResponse
    default
      statement#default
      responses

  statements
    statement#default
      text.
        Nice work with the bias simulator! You've shown great understanding with the topic of biases.
        <br>You can keep playing with the bias simulator now, but talk to me when you're done. I'll teleport us back out to the dock.
    statement