conversation(display_name="ELE-AI")
  case lastResponse 
    default
      statement.
        <p>You have passed the logical fallacy gallery test! You now have access to the <strong>room on the right</strong>, where you can take on the final set of objectives to complete the challenge. Maybe you'll even gain access to the <strong>river room</strong> on the bottom...</p>
      responses