conversation(display_name="ELE-AI")
  case lastResponse 
    default
      statement.
        <p>Congrats, Future Colonist! I'm excited to see that you completed the Critical Thinking training! 
        I think you are ready for some advanced training to further dismantle what the Evil Legacy Systems 
        may have snuck into your previous social programming.</p>
        <p>There is more training to come. In the meantime, why don't you go explore the <strong>river room</strong>?</p>
        <p>Otherwise, you can take the teleporter on the bottom right to go back to the dock.</p>
      responses