conversation(display_name="Professor Chiara")
  case lastResponse
    default
      statement#default
      responses

  statements
    statement#default
      text.
        It seems that critical thinking is often misunderstood and that few people can really define and identify it.
        In order to prevent the kind of misinformation prevalent in older systems, we're taking great care in studying best practices and supporting each other in developing excellent critical thinking habits.
